@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    /* .navbar .nav-item:hover .nav-link{   } */
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}
/* 
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  background-color: darkviolet;
} */

.nav-item:active,
.nav-item:focus,
.nav-item:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: darkviolet;
    font-weight: bold;
    color: #fff !important;
    border-radius: 10%;
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:hover {
    background-color: darkviolet !important;
    font-weight: bold;
    color: #fff !important;
    border-radius: 5%;
}

.text-violet {
    color: darkviolet;
}

.bg-violet {
    background-color: darkviolet !important;
    border-color: darkviolet !important;
    color: rgb(255, 255, 255) !important;
}

.bg-violet:hover{
    background-color: rgb(179, 0, 255) !important;
}



.form-center{
    margin-left: 43%;
    margin-right: 43%;
}

.form-group label{
    margin-top: 10%;
}

.sec-skills{
  display: flex;
  justify-content: space-between;
  
}


.container-skills {
    width: 100%;
    background-color: #ddd;
  }
  
  .box-skills{
    box-shadow: 60px -16px teal;
  }

  .title-skills{
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: start;
  }

  .porcentage-skills{
    text-align: end;
  }

.skills {
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
  }

  .icons{
    width: 30px;
    height: 30px;
    margin-left: 5%;
  }

  .csharp {
    width: 100%; 
    background-color: darkviolet;
  }

  /* .android{
    width: 70%; 
    background-color: lightyellow;
  }

  .html {
    width: 65%; 
    background-color: darkviolet;
  }

  .css{
    width: 55%; 
    background-color: lightyellow;
  }

  .js{
    width: 40%; 
    background-color: darkviolet;
  } */


/* .hidden{
  visibility: hidden;
} */
